<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwym47bRd-ItIgb9Jv-Lz0jrT_x8aD0KM</string>
	<key>GCM_SENDER_ID</key>
	<string>112340355748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bioAttendance.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bio-metric-attendance-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bio-metric-attendance-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112340355748:ios:957311af6698c45af4b431</string>
</dict>
</plist>